*{
    margin: 0;
    padding: 0;
}



header{
	background-color: black;
}

.navbar {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-brand img{
    width: 70%;
}

.toggle{
    color: white;
}

.navbar-light .navbar-nav .nav-link{
	font-family: 'Lato', sans-serif;
	color: white;
	font-weight: 300;
	text-transform: uppercase;

}

.banner{
	background-image: url(../images/bg1.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 90vh;
}


.hg{
	height: 600px;
}

.content{
   text-align: center;

}

.content h1{
   color: white;
   font-size: 60px;
   font-weight: 800;
   font-style: bold;
}



.btn-custom{
	background: black;
	border: none;
    margin-top: 40px;
    margin-left: 230px;


}

.btn-custom:hover{
	background: #15a4fa;

}


.snow{

	background: white;
	margin-top: 40px;

}

.snow h3{
	font-family: 'Lato', sans-serif;
	color: black;
	font-size: 35px;
	font-weight: 600;
	font-style: bold;
	
}

.snow p{
	color: black;
	font-size: 15px;
	margin-top: 20px;
	text-transform: uppercase;

}



.banner2{
	background-image: url(../images/bg2.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 90vh;


}


.hg{
	height: 600px;
}

.content{
   text-align: left;



}

.content h1{
   color: white;
   font-size: 50px;
   font-weight: 600;
   font-style: bold;

}












